@charset "UTF-8";

@mixin border-box() {
  &, & * {
    box-sizing: border-box;
  }
}

/* RESULTS AND SCROLL */

.df-results {
  @include border-box();
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

.df-results__content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.df-card {
  display: block;
  cursor: pointer;
  padding: .5rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #ddd;
}

.df-card:hover {
  background-color: #eee;
}

.df-card:last-child {
  border-bottom-width: 0;
}

/* FACETS PANEL */

.df-panel {
  @include border-box();
  margin: 0 0 1rem 0;
  border: 1px solid #ddd;
}

.df-panel:last-child {
  margin-bottom: 0;
}

.df-panel__label {
  display: block;
  padding: .5rem;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.df-panel__content {
  padding: .5rem;
}

.df-panel[data-collapse] .df-panel__label {
  background: no-repeat right .5rem center;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10%207L3%207%203%206%2010%206%2010%207%2010%207Z%22%20fill%3D%22%23000000%22/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200L12%200%2012%2012%200%2012%200%200Z%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E%0A");
  cursor: pointer;
}

.df-panel[data-collapse="true"] .df-panel__label {
  border-bottom-width: 0;
}

.df-panel[data-collapse="true"] .df-panel__content {
  display: none;
}

.df-term {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: inherit;
  cursor: pointer;
  margin: 0 0 .5rem 0;
}

.df-term:last-child {
  margin-bottom: 0;
}

.df-term__value {
  flex: 1 1 auto;
}

.df-term__count {
  flex: 0 0 auto;
}

.df-term:hover .df-term__value {
  text-decoration: underline;
}

.df-term[data-selected] {
  font-weight: bold;
}

:not([data-view-extra-content]) > .df-term[data-extra-content]:not([data-selected]) {
  display: none;
}

button[data-toggle-extra-content] {
  display: inline-block;
  width: 100%;
  margin: 0 0 .5rem 0;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
}

button[data-toggle-extra-content]:last-child {
  margin-bottom: 0;
}

/* THIRD PARTY COMPONENTS */

@at-root {
  @import "nouislider";
}

.df-slider {
  @include border-box();

  $spaceX: 30px;
  $spaceY: 50px;

  $markerHeight: 15px;
  $markerValueDistance: 5px;

  padding-top: $spaceY;
  padding-bottom: $spaceY;

  .noUi-target {
    margin: 0 $spaceX;
  }

  .noUi-pips-horizontal {
    height: $spaceY;
    padding: 10px 0 0 0;
  }

  .noUi-marker-horizontal {
    &.noUi-marker-large {
      height: $markerHeight;
    }
  }

  .noUi-value-horizontal {
    &.noUi-value-large {
      top: $markerHeight + $markerValueDistance;
    }
  }
}

.df-pagination {
  list-style: none;
  display: flex;
  padding: 0;
  border-radius: .25rem;
  justify-content: center;
}

.df-page {
  span, a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dddddd;
    text-decoration: none;
  }

  a:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

  &:first-child {
    span, a {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }
  }

  &:last-child {
    span, a {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }
  }
}

.df-page--disabled {
  span, a {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
}
