@charset "UTF-8";

@mixin border-box() {
  &, & * {
    box-sizing: border-box;
  }
}

/* RESULTS AND SCROLL */

.df-results {
  @include border-box();
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

.df-results__content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.df-card {
  display: block;
  cursor: pointer;
  padding: .5rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #ddd;
}

.df-card:hover {
  background-color: #eee;
}

.df-card:last-child {
  border-bottom-width: 0;
}

/* FACETS PANEL */

.df-panel {
  @include border-box();
  margin: 0 0 1rem 0;
  border: 1px solid #ddd;
}

.df-panel:last-child {
  margin-bottom: 0;
}

.df-panel__label {
  display: block;
  padding: .5rem;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.df-panel__content {
  padding: .5rem;
}

.df-panel[data-df-collapse] .df-panel__label {
  background: no-repeat right .5rem center;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10%207L3%207%203%206%2010%206%2010%207%2010%207Z%22%20fill%3D%22%23000000%22/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200L12%200%2012%2012%200%2012%200%200Z%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E%0A");
  cursor: pointer;
}

.df-panel[data-df-collapse="true"] .df-panel__label {
  border-bottom-width: 0;
}

.df-panel[data-df-collapse="true"] .df-panel__content {
  display: none;
}

.df-term {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: inherit;
  cursor: pointer;
  margin: 0 0 .5rem 0;
}

.df-term:last-child {
  margin-bottom: 0;
}

.df-term__value {
  flex: 1 1 auto;
}

.df-term__count {
  flex: 0 0 auto;
}

.df-term:hover .df-term__value {
  text-decoration: underline;
}

.df-term[data-selected] {
  font-weight: bold;
}

:not([data-view-extra-content]) > .df-term[data-extra-content]:not([data-selected]) {
  display: none;
}

button[data-toggle-extra-content] {
  display: inline-block;
  width: 100%;
  margin: 0 0 .5rem 0;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
}

button[data-toggle-extra-content]:last-child {
  margin-bottom: 0;
}

/* THIRD PARTY COMPONENTS */

.df-slider {
  @include border-box();

  padding: 40px 10px;

  $dark: #9AA4AC;
  $light: white;
  $gray: #CFCFCF;
  $hover: #333333;
  $dark-disabled: lighten($dark, 20%);


  @at-root {
    @import "nouislider";
    @import "nouislider.pips";
    @import "nouislider.tooltips";
  }
  .noUi-value-horizontal {
    font-size: 80%;

    &[data-position="0"]{
      transform: translate3d(-8px, 60%, 0);
      left: 0;
    }
    &[data-position="50"]{
      transform: translate3d(-50%, 60%, 0);
      left: 50%;
    }

    &[data-position="100"]{
      transform: translate3d(4px, 60%, 0);
      right: 0%;
    }
  }

  .noUi-marker-horizontal.noUi-marker-large{
    height: 8px;
  }

  .noUi-background {
    background-color: $dark;
    box-shadow: none;
  }

  .noUi-connect {
    background-color: $light;
    box-shadow: none;
  }

  .noUi-tooltip {
    font-size: 80%;
    background-color: #b0b0b0;
    color: white;
    border-width: 0;
    padding: 2px 5px;
  }

  .noUi-horizontal {
    $sliderHeight: 8px;

    $handleWidth: 18px;
    $handleBorder: 1px;
    $handleInnerWidth: 8px;
    $handleInnerPosition: 4px;

    $tooltipOffset: -24px;

    height: $sliderHeight;

    .noUi-handle {
      left: $handleWidth / -2;

      width: $handleWidth;
      height: $handleWidth;

      border: $handleBorder solid $gray;
      border-radius: $handleWidth;

      cursor: ew-resize;

      &::before {
        display: none;
      }

      &::after {
        width: $handleInnerWidth;
        height: $handleInnerWidth;
        border-radius: $handleInnerWidth;
        background-color: $dark;
        left: $handleInnerPosition;
        top: $handleInnerPosition;
      }

      &:hover,
      &.noUi-active {
        &::after {
          background-color: $hover;
        }
      }
    }

    .noUi-handle-upper {
      .noUi-tooltip {
        right: 0;
        bottom: $tooltipOffset;
      }
    }

    .noUi-handle-lower {
      .noUi-tooltip {
        top: $tooltipOffset;
      }
    }
  }

  .noUi-target[disabled] {
    cursor: not-allowed;

    &,
    .noUi-connect,
    .noUi-background {
      background-color: $dark-disabled;
    }
    .noUi-handle {
      cursor: not-allowed;

      &::after,
      &:hover::after,
      &.noUi-active::after {
        background-color: $dark-disabled;
      }
    }

    .noUi-tooltip {
      display: none;
    }
  }
}
